.section{
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  background-image: linear-gradient(to right,rgb(255, 103, 128),rgb(92, 209, 255));
  
}

.home-section{
  align-items: center;
  justify-content: center;
}
.about-lines{
  display: flex;
}
